<a href="https://colab.research.google.com/github/samuelhtampubolon/SDPM2025/blob/main/Pinjaman_Bank_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
%pip install openpyxl
import pandas as pd
import numpy as np

# 1. MEMUAT DATA
# Ganti dengan path file Anda jika berbeda
file_path = '/content/Pinjaman_Bank_A.xlsx'
df = pd.read_excel(file_path)
print("--- DATA AWAL ---")
print(df.info())

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
--- DATA AWAL ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Peminjam         100 non-null    object
 1   Tanggal_Aplikasi    100 non-null    datetime64[ns]
 2   Nama_Peminjam       100 non-null    object
 3   Jumlah_Pinjaman     96 non-null     object
 4   Jangka_Waktu_Bulan  100 non-null    object
 5   Suku_Bunga_Tahunan  99 non-null     object
 6   Tujuan_Pinjaman     100 non-null    object
 7   Pendapatan_Bulanan  99 non-null     object
 8   Status_Persetujuan  100 non-null    object
 9   Skor_Kredit         100 non-null    object
 10  Unnamed: 10         1 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 8.7+ KB
None

In [ ]:
print("--- DATA AWAL ---")
print(df.info())# 2. INSPEKSI AWAL
print("--- DATA AWAL ---")
print(df.info())
print("\nJumlah nilai yang hilang per kolom:")
print(df.isnull().sum())
print("\nContoh 5 baris data kotor:")
print(df.head())
print("\nJumlah baris duplikat:", df.duplicated().sum())

--- DATA AWAL ---
<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Peminjam         98 non-null     object
 1   Tanggal_Aplikasi    98 non-null     datetime64[ns]
 2   Nama_Peminjam       98 non-null     object
 3   Jumlah_Pinjaman     98 non-null     int64
 4   Jangka_Waktu_Bulan  98 non-null     int64
 5   Suku_Bunga_Tahunan  98 non-null     float64
 6   Tujuan_Pinjaman     98 non-null     object
 7   Pendapatan_Bulanan  98 non-null     int64
 8   Status_Persetujuan  98 non-null     object
 9   Skor_Kredit         98 non-null     int64
 10  Unnamed: 10         1 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 9.2+ KB
None

Jumlah nilai yang hilang per kolom:
ID_Peminjam            0
Tanggal_Aplikasi       0
Nama_Peminjam          0
Jumlah_Pinjaman        0
Jangka_Waktu_Bulan     0
Suku_Bunga_Tahunan     0
Tujuan_Pinjaman        0
Pendapatan_Bulanan     0
Status_Persetujuan     0
Skor_Kredit            0
Unnamed: 10           97
dtype: int64

Contoh 5 baris data kotor:
  ID_Peminjam Tanggal_Aplikasi   Nama_Peminjam  Jumlah_Pinjaman  \
0      BK-001       2025-01-15    Budi Santoso         50000000
1      BK-002       2025-01-16     Siti Aminah         75000000
2      BK-003       2025-01-17    Eko Prasetyo        120000000
3      BK-004       2025-01-18    Dewi Lestari               30
4      BK-005       2025-01-19  Rahmat Hidayat         90000000

   Jangka_Waktu_Bulan  Suku_Bunga_Tahunan Tujuan_Pinjaman  Pendapatan_Bulanan  \
0                  36                 7.5        Properti            15000000
1                  48                 8.0           Usaha            20000000
2                  60                 6.5        Properti            25000000
3                  24                 9.0      Pendidikan            12000000
4                  36                 7.0        Renovasi            18000000

  Status_Persetujuan  Skor_Kredit  Unnamed: 10
0          Disetujui          720          NaN
1          Disetujui          780          NaN
2          Disetujui          650          NaN
3            Ditolak          580          NaN
4          Disetujui          690          NaN

Jumlah baris duplikat: 0

In [ ]:
# 3. PROSES PEMBERSIHAN DATA
# 3.1. Menangani Data Duplikat
df.drop_duplicates(inplace=True)

# 3.2. Membersihkan Kolom 'ID_Peminjam' (tidak ada masalah serius, hanya sebagai contoh)
# df['ID_Peminjam'] = df['ID_Peminjam'].str.strip() # Menghapus spasi jika ada

# 3.3. Membersihkan Kolom 'Nama_Peminjam'
df['Nama_Peminjam'] = df['Nama_Peminjam'].str.strip().str.title()

# 3.4. Membersihkan dan Mengonversi 'Tanggal_Aplikasi' ke Tipe Datetime
# errors='coerce' akan mengubah tanggal yang tidak valid menjadi NaT (Not a Time)
df['Tanggal_Aplikasi'] = pd.to_datetime(df['Tanggal_Aplikasi'], errors='coerce')

# 3.5. Membersihkan dan Mengonversi 'Jumlah_Pinjaman' ke Tipe Numerik (Integer)
# Menggunakan regex untuk menghapus semua karakter non-numerik
df['Jumlah_Pinjaman'] = df['Jumlah_Pinjaman'].astype(str).str.replace(r'[^\d]', '', regex=True)
# Mengganti 'jt' dengan '000000'
df['Jumlah_Pinjaman'] = df['Jumlah_Pinjaman'].str.replace('jt', '000000', regex=False)
# Konversi ke numerik, error diubah jadi NaN (nilai hilang)
df['Jumlah_Pinjaman'] = pd.to_numeric(df['Jumlah_Pinjaman'], errors='coerce')

# 3.6. Membersihkan dan Mengonversi 'Jangka_Waktu_Bulan'
# Fungsi untuk konversi 'tahun' ke bulan
def konversi_ke_bulan(waktu):
    waktu = str(waktu).lower()
    if 'tahun' in waktu:
        # Ambil angka dari string, kalikan 12
        angka = int(''.join(filter(str.isdigit, waktu)))
        return angka * 12
    else:
        # Jika bukan 'tahun', coba konversi langsung ke angka
        return pd.to_numeric(waktu, errors='coerce')

df['Jangka_Waktu_Bulan'] = df['Jangka_Waktu_Bulan'].apply(konversi_ke_bulan)
# Mengubah nilai negatif menjadi positif (asumsi salah input)
df['Jangka_Waktu_Bulan'] = df['Jangka_Waktu_Bulan'].abs()

# 3.7. Membersihkan dan Mengonversi 'Suku_Bunga_Tahunan'
df['Suku_Bunga_Tahunan'] = df['Suku_Bunga_Tahunan'].astype(str).str.replace('%', '')
df['Suku_Bunga_Tahunan'] = pd.to_numeric(df['Suku_Bunga_Tahunan'], errors='coerce')

# 3.8. Menstandarisasi Kategori 'Tujuan_Pinjaman'
df['Tujuan_Pinjaman'] = df['Tujuan_Pinjaman'].str.strip().str.lower()
peta_tujuan = {
    'kredit rumah': 'Properti', 'kpr': 'Properti', 'beli rumah': 'Properti',
    'beli properti': 'Properti', 'renovasi rumah': 'Renovasi',
    'modal usaha': 'Usaha', 'investasi bisnis': 'Usaha', 'modal ventura': 'Usaha', 'start-up': 'Usaha',
    'konsumtif': 'Konsumtif', 'liburan': 'Konsumtif', 'pernikahan': 'Konsumtif',
    'darurat': 'Kebutuhan Mendesak', 'biaya medis': 'Kebutuhan Mendesak',
    'beli mobil': 'Kendaraan'
}
# Menggunakan .get(x, x) agar nilai yang tidak ada di peta tetap sama
df['Tujuan_Pinjaman'] = df['Tujuan_Pinjaman'].apply(lambda x: peta_tujuan.get(x, x)).str.title()


# 3.9. Menstandarisasi Kategori 'Status_Persetujuan'
peta_status = {
    '1': 'Disetujui', 'Approved': 'Disetujui',
    '0': 'Ditolak', 'Rejected': 'Ditolak'
}
df['Status_Persetujuan'] = df['Status_Persetujuan'].replace(peta_status)

# 3.10. Menangani Outlier dan Membersihkan 'Skor_Kredit'
# Skor kredit wajar antara 300-850. Nilai di luar itu dianggap error/NaN
df['Skor_Kredit'] = pd.to_numeric(df['Skor_Kredit'], errors='coerce')
df.loc[(df['Skor_Kredit'] < 300) | (df['Skor_Kredit'] > 850), 'Skor_Kredit'] = np.nan

In [ ]:
# 4. MENGISI NILAI YANG HILANG (IMPUTASI)
# Strategi:
# - Jumlah_Pinjaman & Pendapatan_Bulanan: isi dengan median (lebih tahan terhadap outlier)
# - Jangka_Waktu_Bulan, Suku_Bunga_Tahunan, Skor_Kredit: isi dengan mean (rata-rata)
# - Tanggal_Aplikasi: isi dengan ffill (forward fill) or bfill (backward fill)
# - Tujuan_Pinjaman: isi dengan modus ('Unknown')

# Pertama, bersihkan dulu 'Pendapatan_Bulanan' seperti 'Jumlah_Pinjaman'
df['Pendapatan_Bulanan'] = df['Pendapatan_Bulanan'].astype(str).str.replace(r'[^\d]', '', regex=True)
df['Pendapatan_Bulanan'] = pd.to_numeric(df['Pendapatan_Bulanan'], errors='coerce')

# Lakukan imputasi
for col in ['Jumlah_Pinjaman', 'Pendapatan_Bulanan']:
    median_val = df[col].median()
    df[col].fillna(median_val, inplace=True)

for col in ['Jangka_Waktu_Bulan', 'Suku_Bunga_Tahunan', 'Skor_Kredit']:
    mean_val = df[col].mean()
    df[col].fillna(mean_val, inplace=True)

df['Tanggal_Aplikasi'].fillna(method='ffill', inplace=True)
df['Tujuan_Pinjaman'].fillna('Unknown', inplace=True)
df.dropna(subset=['Nama_Peminjam'], inplace=True) # Hapus baris jika nama peminjam kosong

/tmp/ipython-input-3837993414.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
/tmp/ipython-input-3837993414.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
/tmp/ipython-input-3837993414.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Tanggal_Aplikasi'].fillna(method='ffill', inplace=True)
/tmp/ipython-input-3837993414.py:21: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Tanggal_Aplikasi'].fillna(method='ffill', inplace=True)
/tmp/ipython-input-3837993414.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Tujuan_Pinjaman'].fillna('Unknown', inplace=True)

In [ ]:
# 5. MENGUBAH TIPE DATA FINAL
df = df.astype({
    'Jumlah_Pinjaman': 'int64',
    'Jangka_Waktu_Bulan': 'int64',
    'Pendapatan_Bulanan': 'int64',
    'Skor_Kredit': 'int64'
})

In [ ]:
# 6. VERIFIKASI AKHIR
print("\n\n--- DATA SETELAH DIBERSIHKAN ---")
print(df.info())
print("\nJumlah nilai yang hilang per kolom (setelah pembersihan):")
print(df.isnull().sum())
print("\nContoh 5 baris data bersih:")
print(df.head())
print("\nDeskripsi Statistik Data Bersih:")
print(df.describe())

--- DATA SETELAH DIBERSIHKAN ---
<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Peminjam         98 non-null     object
 1   Tanggal_Aplikasi    98 non-null     datetime64[ns]
 2   Nama_Peminjam       98 non-null     object
 3   Jumlah_Pinjaman     98 non-null     int64
 4   Jangka_Waktu_Bulan  98 non-null     int64
 5   Suku_Bunga_Tahunan  98 non-null     float64
 6   Tujuan_Pinjaman     98 non-null     object
 7   Pendapatan_Bulanan  98 non-null     int64
 8   Status_Persetujuan  98 non-null     object
 9   Skor_Kredit         98 non-null     int64
 10  Unnamed: 10         1 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 9.2+ KB
None

Jumlah nilai yang hilang per kolom (setelah pembersihan):
ID_Peminjam            0
Tanggal_Aplikasi       0
Nama_Peminjam          0
Jumlah_Pinjaman        0
Jangka_Waktu_Bulan     0
Suku_Bunga_Tahunan     0
Tujuan_Pinjaman        0
Pendapatan_Bulanan     0
Status_Persetujuan     0
Skor_Kredit            0
Unnamed: 10           97
dtype: int64

Contoh 5 baris data bersih:
  ID_Peminjam Tanggal_Aplikasi   Nama_Peminjam  Jumlah_Pinjaman  \
0      BK-001       2025-01-15    Budi Santoso         50000000
1      BK-002       2025-01-16     Siti Aminah         75000000
2      BK-003       2025-01-17    Eko Prasetyo        120000000
3      BK-004       2025-01-18    Dewi Lestari               30
4      BK-005       2025-01-19  Rahmat Hidayat         90000000

   Jangka_Waktu_Bulan  Suku_Bunga_Tahunan Tujuan_Pinjaman  Pendapatan_Bulanan  \
0                  36                 7.5        Properti            15000000
1                  48                 8.0           Usaha            20000000
2                  60                 6.5        Properti            25000000
3                  24                 9.0      Pendidikan            12000000
4                  36                 7.0        Renovasi            18000000

  Status_Persetujuan  Skor_Kredit  Unnamed: 10
0          Disetujui          720          NaN
1          Disetujui          780          NaN
2          Disetujui          650          NaN
3            Ditolak          580          NaN
4          Disetujui          690          NaN

Deskripsi Statistik Data Bersih:
                    Tanggal_Aplikasi  Jumlah_Pinjaman  Jangka_Waktu_Bulan  \
count                             98     9.800000e+01           98.000000
mean   2025-03-07 16:53:52.653061120     1.159184e+08           39.091837
min              2025-01-15 00:00:00     2.000000e+00            6.000000
25%              2025-02-11 06:00:00     4.500000e+07           24.000000
50%              2025-03-08 12:00:00     9.000000e+07           36.000000
75%              2025-04-01 18:00:00     1.675000e+08           48.000000
max              2025-04-26 00:00:00     5.000000e+08           60.000000
std                              NaN     9.814996e+07           16.166713

       Suku_Bunga_Tahunan  Pendapatan_Bulanan  Skor_Kredit  Unnamed: 10
count           98.000000        9.800000e+01    98.000000          1.0
mean             8.428421        2.217347e+07   720.632653        710.0
min              5.800000        4.000000e+06   510.000000        710.0
25%              6.900000        1.425000e+07   681.250000        710.0
50%              7.950000        2.300000e+07   739.000000        710.0
75%              9.075000        2.875000e+07   787.500000        710.0
max             36.000000        5.000000e+07   850.000000        710.0
std              3.236667        1.007142e+07    87.584350          NaN